.grid-container {
  margin: 20px;
}

.mat-h1 {
  display: inline-block;
  margin: 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.upload-button {
  margin-right: 15px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
